
<!DOCTYPE html>
<html>
<head>
    <title>School Management System</title>
</head>
<body>
    <table>
        <tr>
            <td>Asfand</td>
        </tr>

    </table>
</body>
</html>